h1, h2, h3, h4, h5, h6,ul,ol,p{
  margin: 0;
  padding: 0;
}
html{
  font-size: 14px
}
ul,ol{
  list-style: none;
}

a{
  text-decoration: none;
  color:black;
}
.tit{
  position: relative;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  height:40px;
}
.wrap{
  padding:20px;
}
.live{
  display: inline-block;
  float:left;
  width:400px;
  border:1px solid #ccc;
  margin-right: 10px;

}
 .tit h1{
   display: inline-block;
   font-size: 20px;
   padding-left: 10px;
 }
 .tit h1 {
   line-height: 40px;
 }
 .tit::after{
   display: block;
   clear: both;
   content: "";
 }
 .paging{

   float:right;
 }
 .day1_content{
   position: relative;
   border: 1px solid #ccc;
   height:100%;
 }
 .day1_content::after{
   display: block;
   clear: both;
   content: "";
 }
 .paging a{
   display: inline-block;
   margin-top:5px;
   padding:5px;
   border: 1px solid #ccc;
   background-color: #fff;
 }
 .paging a:last-child{
   margin-right: 10px
 }
 .game{
   float: left;
   width: 50%;
 }
 .date{
   padding:5px 5px 15px;
 }
 .onair{
   float: right;
 }
 .game ul li{
   position: relative;
   padding: 5px;
   line-height: 17px;
 }
 .game li span{
   position: absolute;
   right: 10px;
   font-size: 20px;
   font-weight: bold;
 }
 .team_img{
   display: inline-block;
   width:15px;
   height:15px;
   background-color: red;
   margin-right: 3px;
 }
 .day1_content::before{
   display: block;
   content: "";
   position: absolute;
   right:200px;
   width: 1px;
   height: 100%;
   background-color: #ccc;
 }
 .news_tit{
   overflow: hidden;
 }
 .news_tit ul{
   display: inline-block;
   padding:5px;
 }
 .news_tit li{
   padding:5px;

 }
 .section_head{
   margin-bottom: 20px;
 }
 .section_head::after{
   display: block;
   clear: both;
   content: "";
 }
 .news{
   float: left;
   overflow:hidden;
   width:200px;
   margin-right: 10px;
   margin-bottom: 20px;
 }
 .news_img{
   width:190px;
   height:100%;
 }
 .news:first-child{

 }
 .news_img img{
   width: 100%;
   height: 100%;
 }
 .news p{
   padding-top:15px;
   line-height: 15px;
}
 .mid_left{
   width: 420px;
   height:200px;
 }
 .mid_left{
   display: inline-block;
   float: left;
 }

 .mid_right{
 }
 .section_mid::after{
   display: block;
   clear: both;
   content: "";
 }
 .section_bot::after{
   display: block;
   clear: both;
   content: "";
 }
 .day1_footer{
   text-align: center;
   line-height: 100px;
   font-size: 20px;
   background-color: #ccc;
    height: 100px;
 }
