html, body,{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
}
  .wrap{
    position: relative;
    margin: auto;
    min-width: 500px;
    max-width: 980px;
    height:100%;
  }
  .header{
    position: fixed;
    height: 100px;
    top:0;
    left:0;
    background-color: green;
    width: 100%;
  }
  .header_txt{
    padding:20px;
    color:#fff;
  }
  .content{
    margin-top: -108px;
    width: 100%;
    background-color: orange;
    min-height:100%;
  }
  .footer{
    height: 100px;
    width: 100%;
    background-color: #ccc;
  }
  .box_area{
    padding-top: 200px;
    width: 100%;
}
  .box{
    margin-top: 50px;
    float: left;
    width: 50%;
    height:200px;
  }
  .area{
    padding:20px;
    height:100px;
    border: 1px solid #000
  }
  .left{
    margin:0 10px 0 20px;
  }
  .right{
    margin:0 20px 0 10px;

  }
