html, body,{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
}
.wrap{
  position: relative;
  margin: auto;
  min-width: 500px;
  max-width: 980px;
  height:100%;
}
.container{
  width:100%;
  min-height: 100%;
  margin-top: -108px;

  border-width: 0 1px;
}
.container_txt{
  border: 1px solid #ccc;
  position: relative;
}
.container_txt::after{
  display: block;
  clear:both;
  content:'';
}
.header{
  position: fixed;
  height: 100px;
  top:0;
  left:0;
  background-color: green;
  width: 100%;
  z-index: 10;
}
.header_txt{
  padding:20px;
  color:#fff;
}
.content{
  float: left;
  /* padding-top: -108px; */
  width: 778px;
  /* background-color: orange; */
  /* minheight:100%; */
  /* border:1px solid #ccc;
  border-width: 0 1px 0 0; */
}
.container_txt::before{
  display: block;
  content: "";
  border: 1px solid #ccc;
  border-width: 0 0 0 1px;
  height: 100%;
  position: absolute;
  right: 200px;
}
.footer{
  height: 100px;
  width: 100%;
  background-color: #ccc;

}
.box_area{
  float: left;
  padding-top: 200px;
  width:100%;
}
.box_area::after{
  display: block;
  clear:both;
  content:'';

}
.aside{
  float:left;
  width:200px;
  min-height: 100%;

/*
  background-color: red; */
}
.aside_txt{
  padding: 200px 20px 0;
}
.box{
  margin-top: 50px;
  float: left;
  width: 50%;
  height:200px;
}
.area{
  padding:20px;
  height:100px;
  border: 1px solid #000
}
.left{
  margin:0 10px 0 20px;
}
.right{
  margin:0 20px 0 10px;

}
