body, html, tr, td, th, ul, ol{
  margin:0;
  padding:0;
}
ul, ol{
  list-style: none;
}
a{
  color:#000;
  text-decoration: none;
}
.wrap{
  padding: 30px;
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #000;
}
.btn:focus{
  outline-style: none;
  border: 1px solid #d5d5d7;
}
.tab::after{
  display: block;
  clear: both;
  content: "";
}
.btn{
  cursor: pointer;
  margin: 0;
  padding: 0;
  float: left;
  min-width: 66px;
  max-width: 110px;
  border: 0;
  border: 1px solid #d5d5d7;
  border-width: 1px 0 1px 1px;
  height: 30px;
  padding: 0 10px;
  font-size: 13px;
  color:#828282;
  background-color: #fff;
  overflow: hidden;
}
.btn:hover{
  color:#00c73c;

}
.btn_open{
  background-image: url(image/day5_open.png);
  background-repeat: no-repeat;
  min-width: 30px;
  background-position: 50% 50%;
  background-size: 50% 25%;
  border-width: 1px;
}
.btn_active{
  color:#fff;
  font-weight: bold;
  border: 1px solid #000;
  border-color: rgba(0, 0, 0, 0.05);
  background-color: #69748a
}
.lang_table{
  display: inline-block;
  font-size: 13px;
  margin-top: 10px;
  color:#333;
  width: 506px;
}
ul{
  margin: 0 -1px -1px 0;
}
li{
  float: left;
  margin: -1px 0 0 -1px;
  border: 1px solid #e3e3e4;
  background-color: #fff;
  margin:-1px 0 0 -1px;
}
ul:after{
  display: block;
  clear: both;
  content: "";
}
.lang_box{

}
.lang_table{
  margin-left: 40px;
  border: 1px solid;
  overflow: hidden;
}

.lang_box{
  /* float: left; */
  width: 165px;
}
.lang{
  padding:0 12px;
  display: inline-block;
  line-height: 40px;
  width: 144px;
  color:#333;
  /* background-color: #f2f2f2 */
}

.tab{
  padding: 10px 10px 0 10px;
}

.top{
  border-top: 1px solid #e3e3e4;
}
.right{
  border-right: 1px solid #e3e3e4;
}
/* li .lang_box:nth-child(3){
  border: 1px solid #e3e3e4;
  border-width: 1px 1px 1px 0;
}
li .lang_box:nth-child(2){
  border: 1px solid #e3e3e4;
  border-width: 1px 1px 1px 0;
}
li .lang_box:nth-child(3n+1){
  border: 1px solid #e3e3e4;
  border-width: 0 1px 1px 1px;
}
li .lang_box:first-child{
  border: 1px solid #e3e3e4;
  border-width: 1px 1px 1px 1px;
} */
li:hover{
  background-color: #f2f2f3;
  border: 1px solid red;
  position: relative;
}
li:hover a{
  color:#00c74c;
}
