.wrap{
  background: #eee;
  padding:30px 0 20px;
}
fieldset{
  border: 0;

}
.block > span{
  color: red;
}
.block{
  display: block;
  margin-top:20px;
  padding-bottom: 5px;
}
.full{
  width:100%;
}
.check{
  display:inline;
}
.header{
  padding-top: 20px;
  margin-top: 0;
}
input{
  height:20px;
}
.button{
  text-align: center;

}
button{
  margin-top: 20px;
  padding:10px 15px;
  color: #fff;
}
.sumbit{
  background: #00c300;
}
.reset{
  background: #aaa;
}
.back{
  background-color: #fff;
  padding: 5px 15px;
}
.file_select{
  position: relative;
}
.file_add{
  width: 150px;
  height: 200px;
  background-color: #ccc;
  margin:20px 20px 15px 0;
}
.left_form{
  float: left;
}
.right_form{
  overflow: hidden;
}
.info{
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-bottom: 15px;
}
.uimg{
  width: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.uimg_label:hover{
  cursor: pointer;
}
.uimg_label{
  position: absolute;
  top:0;
  left: 0;
  font-size: 12px;
  font-weight: bold;
  padding:4px 8px 2px;
  background-color:#fff;
  border:1px solid #aaa;
  line-height: 17px;
  box-shadow: 0 1px 1px 0 #999;

}
.uimg_label span{
  display: inline-block;
  font-size: 16px;
  color:#00c300;
}
