/* html, body{
  margin: 0;
  padding:0;
  height:100%;
}
.wrap{
  background-color: #ccc;
  height: 100%;
  position: relative;
}

.layer{
  position: absolute;
  left:0;
  right: 0;
  top:0;
  bottom: 0;
  margin:auto auto;
  width: 200px;
  height: 300px;
  background: #f00;
  z-index: 20;
}
.layer div{
  padding:30px;

}
.header{
  position: relative;
  height:80px;
  background-color: green;
}
.content{
  height: 100%;
  margin-top: -160px;
}
.footer{
  position: relative;
  height: 80px;
  background: orange;
}
.back{
  position: absolute;
  top:0;
  right: 0;
  left:0;
  bottom:0;
  z-index: 10;
  background-color: #000;
  opacity: 0.3;

} */

/* html, body,p {
  margin: 0;
  padding:0;
  height:100%;
}
.wrap{
  background-color: #ccc;
  height: 100%;
  position: relative;
}
.table{
  display: table;
  width: 100%;
  height: 100%;
}
.table_cell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.table_cell div{
  display: inline-block;
  width: 30%;
  height: 30%;;
  background-color: red;

  cursor: pointer;
}

.layer{
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;

}
.header{
  position: relative;
  height:80px;
  background-color: green;
}
img{
  width: 100%;
  height: 100%;
}
.container{
  min-height:100%;
  background-color: #ccc;
  margin-top: -160px;
  padding-top: 160px;
}
.content{

}
.footer{
  height: 80px;
  background: orange;
}
.back{
  position: absolute;
  top:0;
  right: 0;
  left:0;
  bottom:0;
  background-color: #000;
  opacity: 0.3;
} */

html, body,p {
  margin: 0;
  padding:0;
  height:100%;
}
.wrap{
  background-color: #ccc;
  height: 100%;
  position: relative;
}
.layer{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* .table{
  display: table;
  width: 100%;
  height: 100%;
}
.table_cell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
} */
.table:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.table{
  height: 100%;
  text-align: center;
}
.table:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.table_cell{
  display: inline-block;
  vertical-align: middle;
}
.popup{
  display: inline-block;

  width: 200px;
  height: 200px;
  background-color: red;

  cursor: pointer;
}

.layer{
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;

}
.header{
  position: relative;
  height:80px;
  background-color: green;
}
img{
  width: 100%;
  height: 100%;
}
.container{
  min-height:100%;
  background-color: #ccc;
  margin-top: -160px;
}
.content{

}
.footer{
  height: 80px;
  background: orange;
}
.back{
  position: absolute;
  top:0;
  right: 0;
  left:0;
  bottom:0;
  background-color: #000;
  opacity: 0.3;
}
