div class="day10_wrap">
  <div class="day10_main">

    <div class="day10_container">
      <ul class="day10_list">
        <li class="day10_team_list">

          <div class="day10_header">
            <strong>1회말</strong>
          </div>
          <div class="day10_cotent">
            <div class="day10_team_area">

              <div class="day10_team_img">
                <img src="image/image.jpeg" width="90px" height="90px">
              </div>
              <div class="day10_team_name">
                <div class="day10_elip">샌프란시스</div>
                <strong class="day10_score">1</strong>
              </div>
            </div>
            <div class="day10_team_area">
              <div class="day10_team_img">
                <img src="image/image.jpeg" width="90px" height="90px">
              </div>
              <div class="day10_team_name">
                <div class="day10_elip">오클랜드</div>
                <strong class="day10_score">1</strong>
              </div>

            </div>
            <a href="#" class="day10_link">중계</a>
            <div class="day10_league"><strong>MLB</strong></div>
          </div>
        </li>

        <li class="day10_team_list">
          <div class="day10_header">
            <strong>1회말</strong>
          </div>
          <div class="day10_cotent">
            <div class="day10_team_area">

              <div class="day10_team_img">
                <img src="image/image.jpeg" width="90px" height="90px">
              </div>
              <div class="day10_team_name">
                <div class="day10_elip">샌프란시스</div>
                <strong class="day10_score">1</strong>
              </div>
            </div>
            <div class="day10_team_area">
              <div class="day10_team_img">
                <img src="image/image.jpeg" width="90px" height="90px">
              </div>
              <div class="day10_team_name">
                <div class="day10_elip">오클랜드</div>
                <strong class="day10_score">1</strong>
              </div>

            </div>
            <a href="#" class="day10_link">중계</a>
            <div class="day10_league"><strong>MLB</strong></div>
          </div>
        </li>
      </ul>
    </div>

  </div>
