body, html,p,h1, h2,h3 ,h4, h5, h6{
  margin: 0;
  padding: 0;
}
body, html{
  width: 100%;
  height: 100%;
}
.wrap{
  width: 960px;
  height: 100%;
  margin: 0 auto;
}
.outer_left, .outer_right{
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
}
.outer_left{
  left: 0;
  right: 50%;
}
.outer_right{
  left: 50%;
  right: 0%;
}
.main{
  width: 960px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.left_banner, .right_banner{
  width: 100px;
  height: 70px;
  position: absolute;
  background-image: url("image/day2_image.jpeg");
  top:20px;
}
.left_banner a, .right_banner a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.left_banner{
  right:500px;
}
.right_banner{
  left:500px;
}
.footer, .header{
  text-align: center;
  height: 70px;
  color: #fff;
}
.header{
  position: relative;
  background-color: #00c73c;
}
.footer{
  background-color: #777;
}
.content{
  min-height: 100%;
  background-color: #444444;
  margin-top: -140px;
}
.content_txt{
  color: #fff;
  text-align: center;
  padding-top: 100px;
}
.content_wap{
  padding-top: 140px;
}

.content_img{
  padding:20px;
  height:200px;
}
.img{
  width: 100%;
  height: 100%;
  background-color: #fff
}
