body, html,p,h1, h2,h3 ,h4, h5, h6, button{
  margin: 0;
  padding: 0;
}
body, html, .wrap, .main{
  width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
  color:#000;
}
.logo h1{
  font-size:16px;
}
.header{
  position: relative;
  height: 60px;
}
.vertical{
  vertical-align: middle;
}
.nick_name{
  margin-top: -7px;
  font-size:  16px;
  color: #666;
  display: inline-block;
}
.large_nav{
  display: none;
}
.logo{
  text-align: center;
  display: inline-block;
  background-color: #000;
  color: #fff;
  width: 110px;
  line-height: 35px;
  height: 35px;
  position: absolute;
  top:13px;
  left:13px;
}
.logo a{
  color: #fff;
}
.test{
  display: none;
}
.header_right{
  position: absolute;
  right: 12px;
  top:20px;
}
.content{
  min-height: 100%;
  margin-top: -120px;
}

.footer{
  height: 60px;
  background-color: #eee;
}
.left_select, .right_select{
  display: inline-block;
  height: 30px;
  border: 0;
  border-radius: 0;
  background-color: #fff;
  font-size: 16px;
}
/* .right_select{
  background-image: url("image/day5_open.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
} */
.select_area{
  width: 49%;
  position: relative;
  display: inline-block;
}
.open_ico{
  display: inline-block;
  position: relative;
  width: 13px;
  height: 7px;
  background-image: url("image/day5_open.png");
  background-size: contain;
  /*position: relative;*/
  z-index: 10;
}
.change_ico{
  position: absolute;
  top: 15px;
  width: 67px;
  background-color: #ccc;
}
.change_ico img{
  margin-bottom: -12px;
}
button{
  border:0;
  background-color: #fff;
  cursor: pointer;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}
select::-ms-expand {
  display: none;
}
.container{
  padding-top: 120px;
}
.open{
  margin-bottom: 2px;
}
.select{
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.txt_area{
  height: 230px;
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #ccc
}
.txt_area_txt{
  height: 160px;
  overflow: auto;

}
.btn{
  height: 42px;
  background-color: #000;
  color: #fff;
  width: 40px;
}
.btn_group{
  padding: 13px 30px 0 ;
}
.btn1, .btn2{
  float: left;
  margin-right: 5%;;
}
.txt_input{
  border: 0;
  width: 100%;
  height: 110px;
  font-size: 20px;
}

.btn3{
  float: right;
  background-color: #2a3;
  width:100px;
}
.word_cnt{
  float: right;
  display: inline-block;
  line-height: 55px;
  color: #999;
  font-size: 16px;
  margin-right: 10px;
}
.word_cnt{
  display: none;
}
.btn_area{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}
.close_btn{
  position: absolute;
  right: 20px;
}
.focus_reset:focus{
  outline:none;
}

.txt{
  position: relative;
  padding:20px;
}
.txt_input{
  resize: none;
}

.btn_group::after{
  display: block;
  clear: both;
  content: "";
}

.footer{
  text-align: center;
  line-height: 60px;
}
.select .container_left, .select .container_right{
  position: relative;
  width: 50%;
  float: left;
}
.select_area{
  position: static;
}
.change_ico{
  left: -32px;
}
@media screen and (min-width:720px) {
  .word_cnt{
    display: block;
  }
  .select::after{
    display: block;
    clear: both;
    content:""
  }
  .change_ico{

  }
  .select{
    border: 1px solid #ccc;
    border-width: 1px 1px 0 1px;
    width: 90%;
    margin-left: 5%;
  }
  .txt_area{
    border: 1px solid #ccc;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
  }
  .header{
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
  }

  .btn_area{
    border-top: 1px solid #ccc;
  }
  .btn{
    width: 100px;
    height: 55px;
    margin-right: 1px;
  }
  .btn_group{
    padding: 0;
  }
  .btn_area{
    height: 55px;
  }
  .large_nav{
    display: block;
  }
  .small_nav{
    display: none;
  }
  .test{
    display: inline-block;
  }
  .footer{
    display: none;
  }
  .btn3{
    width: 120px;
  }
}

@media screen and (min-width:960px) {


  .select{
    border: 0;
    width: 100%;
    margin:0;
  }
  .txt_area{
    border: 0;
    width: 100%;
    margin: 0;
  }
  .select_area{
    border: 1px solid #ccc;
    float: left;
    width:100%;
  }
  .change_ico{
    left:-110px;
  }

  .txt_area{
    border: 1px solid #ccc;
    width:100%;
    float: left;
  }
  .select .container_left, .select .container_right{
    width: 46%;
    height: 100%;
    float: left;
  }
  .container_left, .container_right{
    width: 46%;
    height: 100%;
    float: left;
  }
  .container_left{
    margin: 0 2% 0 3%;
  }
  .container_right{
    margin-right: 3%
  }
}
