tr,td,th{
  padding:0;
}
table{
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  border:1px solid #ccc;
  border-width: 0 1px;
}
thead th{
 border-top: 1px solid #000;
 height:50px;
 border-bottom: 1px solid #ccc;
}
thead tr{
  background-color: #eee;
}
tr{
  margin-bottom: 2px;
}
td{
  height:50px;
}
tr td:nth-child(2){
  text-align: left;
}
tr th:nth-child(2){
  text-align: left;
}
tr th:nth-child(4){
  border: 1px solid #f00;
  border-bottom: 1px solid #ccc;
}
tr td:nth-child(4){
  font-weight: bold;
  border: 1px solid #f00;
  border-width: 0 1px;
}
.td3 td:nth-child(4){
  border-width: 0 1px 1px 1px;
}

.td1{
  border-bottom: 1px solid #eee;
}
/* .td1 td:first-child{
  border-left: 3px solid blue;
  font-weight: bold;

} */
.td2{
  /* border-left: 3px solid green; */
  border-bottom: 1px solid #eee;
}
/* .td2 td:first-child{
  font-weight: bold;
} */
.td3{
  /* border-left: 3px solid red; */
  border-bottom: 1px solid #ccc;
}
/* .td3 td:first-child{
  font-weight: bold;
} */
.border{
  position: relative;
  font-weight: bold;
  height: 100%;
  line-height: 50px;
}
.border span{
  display: inline-block;
  position: absolute;
  width: 5px;
  height: 90%;
  left: 0;
  top:0;
  background: blue;
}
.border.red span{
  background-color: red;
}
.border.green span{
  background: green;
}
