body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p{
  padding: 0;
  margin: 0;
}
.main{
  padding: 50px;
}
.conainer_img{
  float: left;
  margin-right: 10px;
}
.content{
  overflow: hidden;
}
.container{
  position: relative;
  height: 157px;
}
.container::after{
  display: block;
  clear: both;
  content: "";
}
.test{
  display: inline-block;
  max-width: 100%;

}
.elip{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding-right: 50px;
}
.open{
  font-size: 12px;
  padding: 0 3px;
  line-height: 22px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  right:0;
  width: 40px;
  color: #fff;
  height: 20px;
  background: #f33;
}
.grade_area{
  overflow: hidden;
}
.grade{
  width: 75px;
  height: 15px;
  background: url(image/sp_ico.png);
  content: "";
  background-size: 15px auto;
  background-repeat: repeat-x;
  display: inline-block;
  position: relative;
}
.grade::before{
  position: absolute;
  left: 0;
  height: 15px;
  width: 84%;
  background: url(image/sp_ico.png);
  content: "";
  background-size: 15px auto;
  background-repeat: repeat-x;
  background-position: 0 -15px;
}
.blind{
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip:rect(0px 0px 0px 0px);
}
.txt{
  position: relative;
   overflow: hidden;
   padding-top: 5px;
   min-height: 105px;
}
.btn{
  border-radius: 5px;
  padding:3px 7px;
}
.btn1{
  background-color: #f33;
  color: #fff;
}
.btn_area{
  position: absolute;
  bottom: 0;
}
.descrip{
  padding-bottom: 22px;
}
