body, html,p,h1, h2,h3 ,h4, h5, h6,ul, ol{
  margin: 0;
  padding: 0;
}
body, html{
  width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
  color: #000;
}
.blind{
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip:rect(0px 0px 0px 0px);
}
.top_rank,
.header_back,
.header_faq,
.header_share,
.rank{
  background-image: url(image/sprite.png);
  background-repeat: no-repeat;
  background-size: 108px auto;
}
.wrap, .main{
  width: 100%;
  height: 100%;
}
.header{
  position: relative;
  width:100%;
  height:184px;
  background-image: url("image/hdbg.png");
  background-size: auto 184px;
  background-position: center top;
  background-repeat: no-repeat;
}
.header_txt{
  height: 100%;
  background-image: url("image/hdtxt.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 104px;
}
.header_back{
  position: absolute;
  left: 23px;
  width: 10px;
  height: 18px;
  top:15px;
  background-position: -40px 0;
}
.header_share{
  position: absolute;
  right: 23px;
  width: 15px;
  height: 16px;
  top:12px;
  background-position: -41px -23px;
}
.header_faq{
  position: absolute;
  right: 58px;
  width: 28px;
  height: 13px;
  top:15px;
  background-position: -55px 0;
}
.content_nav{
  height: 49px;
  margin-bottom: 20px;
}
.content_nav{
  line-height: 49px;
}
.nav_lf::after,
.nav_rt::after{
  position: absolute;
  right: 0;
  top: 20px;
  content: "";
  width: 9px;
  height: 5px;
  background-image: url(image/sprite.png);
  background-repeat: no-repeat;
  background-position: -88px 0;
  background-size: 108px auto;
}
.nav_lf{
  position: relative;
  float: left;
  padding-right: 15px;
}
.nav_rt{
  float: right;
  position: relative;
  padding-right: 15px;

}
.content{
  padding:20px;
  margin-top: -20px;
}
.user_info::after{
  clear: both;
  display: block;
  content: "";
}
.user_info{
  position: relative;
  height: 45px;
}
.container{
  height: 180px;
  margin-bottom: 40px;
}
.rank_back, .user_img{
  float: left;
  margin-right: 10px;
}

.rank{
  float: left;
  content: "";
  width: 35px;
  height: 43px;
}
.top_rank.rank{
  background-position: 0 -47px;
}
.rank{
  background-position: 0 0;
}
.rank_num{
  display: inline-block;
  font-size: 20px;
  width: 35px;
  text-align: center;
  padding-top: 10px;
}

.rank_num{
  color: #00cc33;
}
.top_rank_num{
  color: #fff;
}
.txt_tit{
  padding-top: 4px;
  overflow: hidden;
}

.user_img{
  margin-top: 2px;
}
.vertical_sort{
  display: inline-block;
  content: "";
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.neighborhood{
  width: 56px;
  height: 25px;
  position: absolute;
  right: 0;
  line-height: 28px;
  top: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
}
.user_cate{
  font-size: 12px;
  color:#ccc;
  line-height: 35px;
}
.cate{
  padding-right: 5px;
  color: #44f;
}
.read_num{
  padding-left: 5px;
}
.post_area{
  position: relative;
  height: 100px;
  background-color: #eee;
}
.post_img{
  float: left;
  margin-right: 10px;
}
.post_txt{
  display: block;
  overflow: hidden;
  padding: 21px 8px 0 0;
}
.post_area::after{
  display: block;
  clear: both;
  content:"";
}
.post_txt{
  font-size: 14px;
}
.post_txt h3{
  font-size: 14px;
  padding-bottom: 4px;
}
.inner_boder{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #ccc;
}
@media screen and (min-width760px) {

}
